/* index.html main 전용 */
/* 메인 */
.all main {
    text-align: center;
}
.all main .photo {
    margin: 100px 0;
}
.all main .photo img {
    margin: 0 20px;
    box-shadow: 0,0,20px rgba(0, 0, 0, 0.5);
}
.all main .contents {
    padding: 20px;
    line-height: 1.7;
}

.all main .contents .hello {
    font-weight: 500;
    font-size: 1.5rem;
    /* font-style: italic; */
}
.all main .contents .intro {
    margin-top: 100px;
}
